<div class="media image-left row-spacing">
  <div class="media-left">
    <%= image_tag "macy.jpg", class: "media-object" %>
  </div>
  <div class="media-body">
    <h1 class="media-heading">Macy</h1>
    <p>Macy was born and raised on the Chesapeake Bay. This led her to a love for all things nautical. Macy believes that every special moment in life should be celebrated. She began falling in love with design several years ago when she started working for an event florist. She would set the scene before the event, and would follow through until the very end. Her favorite moment from the reception is the last dance, everyone is dancing to that last song and celebrating the love that was just brought together. Macy fits the mold of an event planner perfectly. Her approachable and thorough manner allows clients to feel confident and at ease knowing their event is taken care of. The best part about working these events are the new relationships that are built, and the laughs that are shared through the process. Everyone deserves a happily ever after.</p>
  </div>
</div>

<div class="media image-right row-spacing">
  <div class="media-body">
    <h1 class="media-heading">Jeanne</h1>
    <p>Jeanne is married and a mother of 5. Having a large family means planning many parties and events. Jeanne loves the planning process almost as much as the actual event. With the vast experience from working with an upscale floral company, it didn't take long before she was executing her own small and large social events. Jeanne has worked at numerous high profile events with tremendous success. Not only is Jeanne detail oriented but she is also passionate about client service and building relationships. In her downtime, Jeanne loves to spend time with her husband and family, growing her relationship with The Lord, and her favorite place is at the beach.</p>
  </div>
  <div class="media-right">
    <%= image_tag "jeanne.jpg", class: "media-object" %>
  </div>
</div>
