<div class="row">
  <div class="col-sm-12">
    <%= image_tag "header.jpg", class: "img-responsive" %>
  </div>
</div>

<div class="row row-spacing">
  <div class="col-sm-12">
    <p>Here at Enchanting Events and Design we LOVE, love. Whether it be the love you have for your sole mate, for your new pair of shoes, or the 16th birthday party you will never forget. We want to assist in creating that memory, the one that you want to talk about for the rest of your life. Your party should captivate you and your guests, and transform any occasion into a celebration. We are a creative and refreshing team, and we want you to enjoy the entire planning experience. Let us create your "Once Upon a Time" and bring your dreams into reality.</p>
    <p>We are located in Charm City, but willing to venture near and far to assist with your event. We are available for planning your entire event, or to assist with the smaller but still important details. We believe in having fun before, during and after your event, and everything should be celebrated. You should also be prepared to become BFFs during the process, laughter filled conversation and late night chats included. From a black-tie glamor filled event, to a quirky picnic next to the lake, we look forward to planning and designing to make your dreams come true.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Let's Celebrate Together!</h1>
  </div>
</div>
