<div class="row">
  <div class="col-sm-12">
    <p>Whether you are planning a wedding, birthday party or anything in between, we guarantee to have something for you!</p>
    <p>We prefer to work with each individual couple to get an idea of exactly what they are looking for, but we have general packages to explain some of our services. We are more than happy to take pieces of different packages and bring them together into the perfect planning environment for you!</p>
    <p>We like to start with a design and planning consultation to get an idea of your vision, personality, style, and most importantly, budget. After a consultation we are able to find out exactly which vendors will fit your needs, as well as what type of coordination will work the best. From the time of the first consultation to the last dance, you will be working with the same coordinators. No matter what question you have, or suggestion you would like to make, you will always be able to contact the same person you originally met with.</p>
    <p>After our consultation, we will contact you again, virtually or in person depending on location, and go over each aspect we have put together. This includes our vendor recommendations -if needed-, design board for your specific event, and details on your planning needs.</p>
    <p>On the big day, we will be the first to arrive and the very last to leave, no matter what planning package you request, this is always our promise. We will make sure everything runs smoothly and on time, from the flowers being delivered to the last table folded up. Each event will receive budget advice and assistance throughout the process, day-of coordination services, event timeline, and as many fun and exciting emails from us as you can handle.</p>
  </div>
</div>
<div class="row row-spacing">
  <div class="col-sm-12">
    <h1>Day-Of (starting at $800)</h1>
    <p>It’s your event, let us handle the logistics. This includes time and vendor management, final details, and we are all yours starting from the rehearsal until the very last guest leaves. We will offer suggestions along the way, and guide you through the process. Vendor recommendations are always included, and we are happy to email you whenever there is a question. We want you to be stress free and enjoy the day!</p>
  </div>
</div>
<div class="row row-spacing">
  <div class="col-sm-12">
    <h1>Partial Planning (starting at $1200)</h1>
    <p>Let us handle the details while you tell us the vision. We will guide the way through the planning process and make sure each aspect is taken care of. We will handle the questions, logistics and meetings of vendors, while passing on any design information to you. We want you to be involved to the extent that you are able and chose to be, but always remain excited about your event.</p>
  </div>
</div>
<div class="row row-spacing">
  <div class="col-sm-12">
    <h1>Full Event & Design Planning (starting at $2000)</h1>
    <p>We will handle it all, from our very first consultation to the last minute of your event. After we get to know a general vision of how you want your event to look, what the environment should be, and which details you want to leave your guest speechless, we will handle the rest. We will schedule vendor meetings, have design consultations, and you will have unlimited time with us!</p>
  </div>
</div>
