/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "variables";
@import "bootstrap";
@import "font-awesome";

body {
  color: $content;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Champagne", cursive;
}
h1 {
  color: $heading;
  font-size: 48px;
}

.container {
  max-width: 900px;
}

.row-spacing {
  margin-top: 30px;
  margin-bottom: 30px;
}

.small-logo {
  margin-top: 50px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: $heading;
}

.btn-peach {
  @include button-variant($btn-primary-color, darken($heading, 10%), $heading);
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, 0);
}

.form-control { border-color: $heading; border-radius: 0; }
