@font-face {
  font-family: "Champagne";
  src: font-url("fonts/cac_champagne.eot");
  src: font-url("fonts/cac_champagne.eot?iefix") format("eot"),
       font-url("fonts/cac_champagne.woff") format("woff"),
       font-url("fonts/cac_champagne.ttf") format("truetype"),
       font-url("fonts/cac_champagne.svg#cac_champagneregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
