@import "variables";

.footer {
  width: $page-width;
  margin-bottom: 20px;
  .love {
    position: fixed;
    right: 10px;
    bottom: 10px;
    @media (max-width: 1040px) {
      position: relative;
      right: auto;
      bottom: auto;
      text-align: center;
      margin-top: 20px;
    }
  }
}
