@import "variables";

.header {
  font-family: "arial";
  width: $page-width;
  margin-top: 20px;
  .header-logo img {
    width: 500px;
  }
  .header-tag {
    color: $peach;
    margin-bottom: 40px;
  }
  .header-nav {
    .row {
      margin: 0 30px;
      text-align: justify;
      &:after{
        content: "";
        width: 100%;
        display: inline-block;
      }
    }
    a {
      display: inline-block;
      text-decoration: none;
      &:link, /* unvisited link */
      &:visited { color: $gray; } /* visited link */
      &:hover, /* mouse over link */
      &:active { color: $aqua; } /* as clicked link */
    }
  }
  hr {
    margin: 0;
    margin-bottom: 20px;
    border-color: $aqua;
    border-width: 1px;
  }
}
