<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render "layouts/navbar" %>
    <div class="container-fluid">
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
